section#about
  min-height: 100vh
  article
    height: 40vh
  .parallax
    background-image: url("images/courthouse.jpeg")
    height: 60vh
    background-attachment: fixed
    background-position: center
    background-repeat: no-repeat
    background-size: cover
